.base-header{
    background-color: black;
    margin-top: -30px;
}

.base-heading{
    padding-top: 30px;
    color: white;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.form-header{
    background-color: #7414BE;
    margin-top: -30px;
}

.demo-card-wide.mdl-card {
  width: 350px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
    background: url('images/form-img.jpg') center / cover;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.form-container{
    margin-top: -30px;
    background-color: #EFE6F7;
    min-height: 100vh;
}

.mid-panel{
    background-color: white;
    margin-top: -20px;
}

.rightBar{
    margin-top: 20px;
}



