<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Google Form</title>
        <!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static "GoogleForm/css/myStyle.css" %}"
    </head>
    <body>
        {% block content %}
        {% endblock %}


        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <script src="{% static "GoogleForm/js/myDom.js" %}"> </script>
  	    <script src="{% static "GoogleForm/js/myEvents.js" %}"></script>
        <script src="{% static "GoogleForm/js/myScript.js" %}"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </body>
</html>