{% extends 'GoogleForm/base.html' %}

{% block content %}
    <div class="page-header text-center">
        <h1>Google Form</h1>
    </div>
    {% if ques_list %}
        <ol>
            {% for ques in ques_list %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="{{ ques.ques_title }}">
                            <label class="mdl-textfield__label">Give title to your question...</label>
                        </div>
                    </div>
                </div>
                {% if ques.ques_type == 'SH' %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" disabled>
                            <label class="mdl-textfield__label">Write answer here..</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                    {% if ques.ques_type == 'SC' %}
                        {% for option in options.single_options %}
                            <ol>
                                <li>{{ option }}</li>
                            </ol>
                        {% endfor %}
                    {% endif %}
                    {% if ques.ques_type == 'MC' %}
                        {% for option in options.multiple_options %}
                            <ol>
                                <li>{{ option }}</li>
                            </ol>
                        {% endfor %}
                    {% endif %}
            {% endfor %}
        </ol>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
{% endblock %}